html {
  background-color: #154ee3ff !important;
}
body {
  font-family: 'PT Sans', sans-serif;
}
ol {
  text-align: left;
}
ol > li {
  list-style-type: disc;
  list-style-position: inside;
  text-indent: -1.37em;
  padding-left: 1em;
}

/*iframe {
  max-width: 100% !important;
  width: auto !important;
  height: auto !important;
}*/
.main {
    max-width: 600px;
}
.section {
  height: 100vh;
}
.middle {
  text-align: center;
  padding-top: 33vh;
}
.is-as {
  background-color: #154ee3ff !important;
}
.subtext {
    margin: 20px 0;
    font-size: 1.00rem;
    text-align: left;
}
.report {
  margin-top: 20px;
}
.as-title {
  font-weight: 800;
  font-size: 3rem;
  margin-bottom: 30px !important;
}
.footer1 {
 background-color: #154ee3ff !important;
 padding: 13.37px 0;
}
.footer2 {
 background-color: #154ee3ff !important;
 padding: 10px 10px;
 font-size: 0.8rem;
}
.footer-link{
  text-decoration: underline;
}
