html {
  background-color: #F8FAF9 !important;
}
body {
  font-family: 'PT Sans', sans-serif;
  font-size: 1.1em;
}

ol {
  text-align: left;
  font-size: 1.10em;
}
.no-list > li {
  list-style-type: none;
}

ol > li {
  list-style-type: disc;
  list-style-position: inside;
  text-indent: -1.37em;
  padding-left: 2em;
  font-size: 1em;
}


a {
  text-decoration: underline;
}

/*iframe {
  max-width: 100% !important;
  width: auto !important;
  height: auto !important;
}*/
.main {
    max-width: 800px;
}
.section {
  height: 100vh;
}
.container {
  color: #161E59 !important;
}
.middle {
  text-align: center;
  padding-top: 33vh;
}
.is-as {
  background-color: #F8FAF9 !important;
}
.subtext {
    margin: 20px 0 0 0;
    font-size: 1.10em;
    text-align: left;
}
.graph {
  padding: 20px 0;
}
.graph-head {
  text-align: left; 
  margin-bottom: 5px; 
  width: 100%;
  line-height: 1;
}
.graph-head .graph-title {
  display: block
}
.graph-head .graph-date {
  font-size: 12px; 
  margin-top: -10px
}
.graph-notes {
  font-size: 12px;
  padding: 5px 5px;
  text-align: left;
}
.clear {
  clear:both
}

.report {
  position: relative;
  overflow: hidden;
  padding-top: 56.25%;
  margin-top: 10px;
}
iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.as-title {
  font-weight: 800;
  font-size: 3rem;
  margin-bottom: 30px !important;
  color: #161E59 !important;
}
.as-subtitle {
  color: #161E59 !important;
}
.footer1 {
 background-color: #154ee3ff !important;
 padding: 13.37px 0;
}
.footer2 {
 background-color: #154ee3ff !important;
 padding: 10px 10px;
 font-size: 0.8rem;
}
.footer-link{
  text-decoration: underline;
}
.center {
  text-align: center;
}
.clearfix {
  clear:both;
}
.user {
  margin: 5px 0;
}
.avatar {
    width: 40px;
    height: 40px;
    float: left;
    background-size: cover;
    background-position: top center;
    border-radius: 50%;
}
.name {
  float: left;
  margin-left: 10px;
  padding-top: 10px;
  font-size: 1.02rem;
}

.button {
  background-color: #161E59;
  color: #ffffff;
  border-color: #ffffff;
  font-size: 1em;
}

/* code below is for revue newsletter signup */

.revue-form-group {
  padding-bottom: 10px;
  display: inline-block;
  font-size: 1.1rem;
}
.revue-form-actions {
  display: inline-block;
  vertical-align: top;
  font-size: 1rem;
}
.button-email {
  background-color: #FF8C00;
  color: #000000;
  border-color: #ffffff;
  height:1.9em;
  border-width: 1px;
  justify-content: center;
  font-size: 1rem;
}
.input {
  font-size: 1rem; 
}

.title {
  line-height: 1;
  margin-bottom: -10px;
}

.revue-form-group {
  font-size: 1.1em;
}

.revue-form-field {
  font-size: 0.9em;
}