html {
  background-color: #154ee3ff !important;
}
body {
  font-family: 'PT Sans', sans-serif;
}
.section {
  height: 100vh;
}
.middle {
  text-align: center;
  padding-top: 33vh;
}
.is-as {
  background-color: #154ee3ff !important;
}
.as-title {
  font-weight: 800;
  font-size: 3rem;
  margin-bottom: 30px !important;
}
.footer1 {
 background-color: #154ee3ff !important;
 padding: 13.37px 0;
}
.footer2 {
 background-color: #154ee3ff !important;
 padding: 10px 10px;
 font-size: 0.8rem;
}

